@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ysabeau+Infant:wght@300&display=swap');
/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
    --bg-alt2: #fff;
	--fg: rgb(39, 38, 38);
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
    --primary-alt2: #70a0e7;
	--primary-light: rgba(44, 93, 206, 0.1);
    --text: navy;
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.body-dark {
	--bg: #030217;
	/* --bg-alt: rgb(22 28 41 / 33%); */
	--bg-alt: rgb(22 28 41 / 50%);
    --bg-alt2: rgb(22, 16, 52);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
    --primary-alt2: #5955a2;
	--primary-light: rgb(18 17 49 / 44%);
    --text: lavender;
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

/* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
} */

::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 0 auto;
	/* max-width: 1100px; */
	width: 100%;
	/* background-color: var(--bg); */
    background-color: transparent;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

h2 {
	color: var(--fg-alt);
	line-height: 1.1;
    font-size: 1.8em;
}

@media (max-width: 580px) {
	h2 {
		font-size: 1.5rem;
	}
}

/* =============
     3. layout
   ============= */

section {
	margin-top: 5em;
}

.section-title {
	padding-top: 0.5em;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	margin: 0.3em auto 0 auto;
	display: block;
	width: 1.5em;
	border-bottom: 0.2em solid var(--primary);
}

.stack {
    padding-top: 3em;
	/* background-color: azure; */
}

@media (max-width: 580px) {
	section {
		margin-top: 2.5em;
	}
}

/* Changes */
.container {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 1em;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.container .card {
    position: relative;
    cursor: pointer;
    padding: 15px;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 1em;
}

.container .card .face.face1 {
    position: relative;
    /* background: #333; */
    background: var(--bg-alt2);
    /* background: salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    /* background: #ff0057; */
    background: var(--primary-alt2);
    transform: translateY(0);
    box-shadow: 0 6px 12px midnightblue;
}

.container .card:hover .face.face2 {
    box-shadow: 0 6px 12px midnightblue;
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
    justify-content: center;
    text-align: center;
    margin: 1em;
}


.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face2 .content {
    text-align: center;
}

.container .card .face.face1 .content img {
    max-width: 100px;
    justify-content: center;
    align-self: center;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 1;
    color: var(--text);
    text-align: center;
    font-size: medium;
    /* font-family: monospace */
    font-family: 'Ysabeau Infant', sans-serif;
}

.container .card .face.face2 {
    position: relative;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face.face2 .content p {
    /* margin: 0;
    padding: 0; */
    /* margin: 1.2em 1.2em; */
	font-size: 1em;
    letter-spacing: -0.5px;
    font-style: normal;
	font-family: 'Fira Code', monospace;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--text);
    padding: 5px;
    border: 1px solid var(--text);
    border-radius: 1.5rem;
}

.container .card .face.face2 .content a:hover {
    background: var(--primary);
    color: #fff;
}