/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: rgba(177, 202, 236, 0.4);
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    --text: black;
    --container-inset-light: rgb(61, 53, 107);
    --container-inset: rgb(239, 236, 245);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgba(177, 202, 236, 0.3);
    --fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --text: black;
    --container-inset: rgb(79, 70, 129);
    --container-inset-light: rgb(222, 218, 231);
}

/* =====================
     2. global styles
   ===================== */

body {
	margin: 0 auto;
    background-color: transparent;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
* {
    box-sizing: border-box;
}

/* =============
     3. layout
   ============= */
  
.carousel-container {
    overflow: hidden;
    max-width: 800px;
    width: 700px;
    position: relative;
    box-shadow: 0 0 30px -20px #223344;
    margin: auto;
    z-index: 0;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

img {
    display: block;
    width: 100%;
    height: 500px;
    border: rgba(9, 5, 41, 0.5) solid;
    border-width: 5px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    padding: 20px;
    color: var(--primary);
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    user-select: none;
    font-size: 36px;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover, .next:hover {
    color: midnightblue;
}
  
/* Caption text */
.text {
    background-color: var(--bg-alt);
    color: var(--text);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/* Number text (1/3 etc) */
.number {
    background-color: var(--bg-alt);
    color: var(--text);
    font-size: 16px;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
  
/* The dots/bullets/indicators */
.dots {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: var(--bg-alt);
    color: var(--text);
    backdrop-filter: blur(2px);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active {
    background-color: midnightblue;
}

.dots:hover {
    background-color: var(--primary);
}

/* transition animation */
.animate {
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s;
}
  
@keyframes animate {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    animation: slide-in 0.5s backwards;
    -webkit-animation: slide-in 0.5s backwards;
}
    
@keyframes slide-in {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

h2 {
	color: var(--fg-alt);
	line-height: 1.1;
	font-size: 1.8em;
}

@media (max-width: 580px) {
	h2 {
		font-size: 1.5rem;
	}
}

.section-title {
	padding-top: 0.5em;
	margin-bottom: 1.2em;
	text-align: center;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	margin: 0.3em auto 0 auto;
	display: block;
	width: 1.5em;
	border-bottom: 0.2em solid var(--primary);
}

@media (max-width: 580px) {
	.project .section-title {
		margin-bottom: 0;
	}
}

@media (max-width: 900px) {
	.carousel-container {
        width: 525px;
    }

    img {
        height: 360px;
    }
}
@media (max-width: 650px) {
	.carousel-container {
        width: 350px;
    }

    img {
        height: 225px;
    }
}

/* Changes */
.ombre-externe {
    background-color: var(--container-inset-light);
    padding: 1rem;
    -moz-box-shadow: 20px 20px 36px rgba(0,0,0,0.4);
    -webkit-box-shadow: 20px 20px 36px rgba(0,0,0,0.4);
    box-shadow: 20px 20px 36px rgba(0,0,0,0.4);
    width: min-content;
    z-index: 1;
}

.ombre-interne {
    padding: 4rem;
    background-color: var(--container-inset);
    -webkit-box-shadow: inset 8px 0px 14px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 8px 0px 14px -1px rgba(0,0,0,0.4);
    box-shadow: inset 8px 0px 14px -1px rgba(0,0,0,0.4);
    z-index: 1;
}

.peinture-ombre-interne-fine {
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.247);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.301);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.267);
    background-color: #f7f7f7;
    z-index: 1;
}

.container {
    justify-content: center;
    align-items: center;
    width: min-content;
    z-index: 1;
    padding: 0 50px 50px 50px;
}