<!-- <body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="certifications" style="height: 60px; background-color: transparent;"></div>
    <section class="project">
        <h2 class="section-title">CERTIFICATIONS</h2>
        <div *ngIf="images && images.length" class="carousel-container">
            <img *ngFor="let image of images; let i=index" [src]="image.imageSrc" [alt]="image.imageAlt" [ngClass]="{'image-active': selectedIndex === i}" class="fade">

            <div *ngIf="indicators" class="carousel-dot-container">
                <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectImage(i)">
                </span>
            </div>

            <button class="btn-carousel btn-prev" (click)="onPrevClick()">
                <fa-icon [icon]="leftIndicatorIcon" class="fas fa-arrow-circle-left icon-carousel icon-prev"></fa-icon>
            </button>

            <button class="btn-carousel btn-next" (click)="onNextClick()">
                <fa-icon [icon]="rightIndicatorIcon" class="fas fa-arrow-circle-right icon-carousel icon-next"></fa-icon>
            </button>
        </div>
    </section>
</body> -->

<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="certifications" style="height: 90px; background-color: transparent;"></div>
    <h2 class="section-title">AWARDS & CERTIFICATIONS</h2>
    <!-- Full-width images with number and caption text -->
    <div class="container">
        <div class="ombre-externe">
            <div class="ombre-interne">
                <div class="peinture-ombre-interne-fine">
                    <div class="carousel-container">
                        <div class="mySlides animate">
                            <img src="assets/PML.jpg" alt="Professional Machine Learning Engineer">
                        </div>
                        <div class="mySlides animate">
                            <img src="assets/Google_Architact.jpg" alt="Professional Machine Learning Engineer">
                        </div>
                        <div class="mySlides animate">
                            <img src="assets/ACE.jpg" alt="Associate Cloud Engineer" />
                        </div>
                        <div class="mySlides animate">
                            <img src="assets/IITInternship.jpg" alt="IIT Internship" />
                        </div>
                        <div class="mySlides animate">
                            <img src="assets/Bengalathon.jpg" alt="Bengalathon"/>
                        </div>
                        <div class="mySlides animate">
                            <img src="assets/HSBC_PB.jpg" alt="Coursera : Machine Learning" />
                        </div>
                    
                        <div class="mySlides animate">
                            <img src="assets/Udacity.jpg" alt="Udacity" />
                        </div>
                    
                        <div class="mySlides animate">
                            <img src="assets/AIForMed.jpeg" alt="Coursera : AI For Medicine" />
                        </div>

                        <div class="mySlides animate">
                            <img src="assets/MLStanford.jpeg" alt="Coursera : Machine Learning" />
                        </div>
                    
                        <!-- Next and previous buttons -->
                        <a class="prev" (click)="prevSlide()">
                            <fa-icon [icon]="leftIndicatorIcon" class="icon-carousel"></fa-icon>
                        </a>
                        <a class="next" (click)="nextSlide()">
                            <fa-icon [icon]="rightIndicatorIcon" class="icon-carousel"></fa-icon>
                        </a>
                    
                        <!-- The dots/circles -->
                        <div class="dots-container">
                            <span class="dots" (click)="currentSlide(1)"></span>
                            <span class="dots" (click)="currentSlide(2)"></span>
                            <span class="dots" (click)="currentSlide(3)"></span>
                            <span class="dots" (click)="currentSlide(4)"></span>
                            <span class="dots" (click)="currentSlide(5)"></span>
                            <span class="dots" (click)="currentSlide(6)"></span>
                            <span class="dots" (click)="currentSlide(7)"></span>
                            <span class="dots" (click)="currentSlide(8)"></span>
                        </div>
                    </div>
                </div><!--cadre-ombre-interne-fine -->
            </div><!-- ombre-interne -->
        </div><!-- ombre-externe -->
    </div>
</body>