<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div class="hero">
        <div class="card">
            <div class="cover-photo">
                <img src="assets/profile_pic.jpg" class="profile">
                <div class="weather">
                    <p>
                        <fa-icon [icon]="temperatureIcon"></fa-icon>
                        &nbsp;{{temperature}} °C &nbsp;
                    <!-- </p>
					<p> -->
                        <fa-icon [icon]="weatherIcon"></fa-icon>
                        &nbsp;{{weather}}
                    </p>
                </div>
            </div>
            <h2 class="profile-name">@sumagna</h2>
            <p class="about">GCP Data Engineer <br> Aspiring ML Engineer</p>
            <div class="icons">
                <a target="_blank" href="https://www.facebook.com/sumagnadey/">
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://www.instagram.com/sumagnadey/">
                    <fa-icon [icon]="instagramIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/sumagnadey/">
                    <fa-icon [icon]="linkedInIcon"></fa-icon>
                </a>
                <a target="_blank" href="https://github.com/sumagnadey">
                    <fa-icon [icon]="githubIcon"></fa-icon>
                </a>
            </div>
        </div>
    
        <div class="hero-about">
            
            <h2>{{msg}}</h2>
            <p>
                I am Sumagna Dey. An epistemophilic student of Computer Science offering extensive analytical and critical thinking skills. Deep Learning enthusiast with a pro-active approach, great work ethic, and the ability to function well in fast-paced and deadline driven team environments.
            </p>
            <a class="resume" href="https://drive.google.com/file/d/1wJ2gQfLC_L56hPMt1Izb2OTj-1Ey-ofc/view?usp=sharing" target="_blank">
                <span class="btn">Resume</span>
            </a>
        </div>
    </div>
</body>