/* ================
	 1. variables
   ================ */
   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgb(22 28 41 / 33%);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */
::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 10 auto;
	width: 100%;
	background-color: transparent;
	color: var(--fg);
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

/* =============
     3. layout
   ============= */
div {
	align-items: center;
    text-align: center;
	justify-content: center;
}

/* Changes */
.context .txt-time {
	text-align: center;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Quattrocento Sans', sans-serif;
	color: var(--fg);
	font-size: 25px;
	letter-spacing: 3px;
	padding-bottom: 20px;
}

.context .txt-location {
	text-align: center;
	/* font-family: "Fira Code"; */
	font-family: 'Quattrocento Sans', sans-serif;
	letter-spacing: 2px;
	color: var(--fg-alt);
	font-size: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}