<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div class="context">
        <p class="txt-time">{{time | date:'medium'}}</p>
        <p id="location" class="txt-location"><fa-icon [icon]="locationIcon"></fa-icon> {{location}}</p>
    </div>
</body>