<div class="wrapper">
    <div class="card">
        <input type="checkbox" id="card1" class="more" aria-hidden="true">
        <div class="content">
            <div class="front" style="background-image: url('assets/College.jpg')">
                <div class="inner">
                    <h2>Cozy apartment</h2>
                    <div class="rating">
                        <fa-icon [icon]="starIcon"></fa-icon>
                        <fa-icon [icon]="starIcon"></fa-icon>
                        <fa-icon [icon]="starIcon"></fa-icon>
                        <fa-icon [icon]="starIcon"></fa-icon>
                        <fa-icon [icon]="starIcon"></fa-icon>
                    </div>
                    <label for="card1" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="info">
                        <span>5</span>
                        <div class="icon">
                            <fa-icon [icon]="userIcon"></fa-icon>
                            <span>people</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>4</span>
                        <div class="icon">
                            <fa-icon [icon]="doorIcon"></fa-icon>
                            <span>rooms</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>3</span>
                        <div class="icon">
                            <fa-icon [icon]="bedIcon"></fa-icon>
                            <span>beds</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>1</span>
                        <div class="icon">
                            <fa-icon [icon]="bathIcon"></fa-icon>
                            <span>bath</span>
                        </div>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, accusamus.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates earum nostrum ipsam
                            ullam, reiciendis nam consectetur? Doloribus voluptate architecto possimus perferendis
                            tenetur nemo amet temporibus, enim soluta nam, debitis.</p>
                    </div>
                    <div class="location">Warsaw, Poland</div>
                    <div class="price">38€ / day</div>
                    <label for="card1" class="button return" aria-hidden="true">
                        <fa-icon [icon]="arrowLeftIcon"></fa-icon>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card2" class="more">
        <div class="content">
            <div class="front" style="background-image: url('assets/Kenduadihi.jpg')">
                <div class="inner">
                    <h2>Modern flat</h2>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <label for="card2" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="flip-card-back back">
                <div class="flip-back-test inner">
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Maulana_Abul_Kalam_Azad_University_of_Technology_Logo.svg/800px-Maulana_Abul_Kalam_Azad_University_of_Technology_Logo.svg.png" height="70">
                  <p><fa-icon [icon]="schoolIcon"></fa-icon> 
                    Meghnad Saha Institute of Technology
                    <br>
                    <fa-icon [icon]="academyIcon"></fa-icon> MAKAUT
                    <br>
                    <fa-icon [icon]="scoreIcon"></fa-icon> DGPA: 8.84
                    <br>
                    <fa-icon [icon]="locationIcon"></fa-icon> Kolkata, India
                    <br>
                    <fa-icon [icon]="timelineIcon"></fa-icon> 2017 - 2021
                  </p>
                </div>
              </div>
        </div>
    </div>
    <div class="card">
        <input type="checkbox" id="card3" class="more">
        <div class="content">
            <div class="front" style="background-image: url('https://content.jdmagicbox.com/comp/kenduadihi/w2/9999p3242.3242.181113152752.v2w2/catalogue/kenduadihi-high-school-kenduadihi-schools-30ja00m02y.jpg?clr=423824')">
                <div class="inner">
                    <h2>Luxury property</h2>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <label for="card3" class="button" aria-hidden="true">
                        Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="info">
                        <span>8</span>
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <span>people</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>7</span>
                        <div class="icon">
                            <i class="fas fa-door-open"></i>
                            <span>rooms</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>5</span>
                        <div class="icon">
                            <i class="fas fa-bed"></i>
                            <span>beds</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>2</span>
                        <div class="icon">
                            <i class="fas fa-bath"></i>
                            <span>baths</span>
                        </div>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa libero
                            totam nostrum consequatur autem quae provident quos alias fugit maxime nisi labore,
                            temporibus tempore illo natus voluptates aliquam ipsum officia quasi placeat aut
                            facilis
                            laudantium nam!</p>
                        <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                            repudiandae
                            aspernatur explicabo numquam! Tenetur!</p>
                    </div>
                    <div class="location">Cracow, Poland</div>
                    <div class="price">60€ / day</div>
                    <label for="card3" class="button return" aria-hidden="true">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>