<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'" id="top">
  <div ngStyle.lt-md="height:-60vh" id="element" class="hero">
      <mat-toolbar>
          <mat-toolbar-row>
              <button mat-icon-button (click)="setHeight();sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                  <fa-icon [icon]="hamburgerIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
              </button>
              <!-- <span><a class="icon-border header-title" href="#top">SD</a></span> -->
              <span><a onclick="window.scrollTo(top)"><img src="assets/favicon.ico"></a></span>

              
              <span class="menu-spacer"></span>
              <div fxShow="true" fxHide.lt-md>
                  <a onclick="document.getElementById('workexperience').scrollIntoView(true)" class="link" mat-button>Experience</a>
                  <a onclick="document.getElementById('education').scrollIntoView(true)" class="link" mat-button>Education</a>
                  <a onclick="document.getElementById('skillset').scrollIntoView(true)" class="link" mat-button>Skills</a>
                  <a onclick="document.getElementById('project').scrollIntoView(true)" class="link" mat-button>Projects</a>
                  <a onclick="document.getElementById('research').scrollIntoView(true)" class="link" mat-button>Research</a>
                  <a onclick="document.getElementById('certifications').scrollIntoView(true)"  class="link" mat-button>Certifications</a>
                  <a onclick="document.getElementById('contact').scrollIntoView(true)" class="link" mat-button>Contact</a>
              </div>
              <button aria-label="Toggle theme" (click)="toggleTheme()">
                  <fa-icon [icon]="darkTheme ? toggleLightIcon : toggleDarkIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
              </button>
          </mat-toolbar-row>
      </mat-toolbar>

      <mat-sidenav-container fxFlexFill fxHide.gt-sm ngStyle.gt-sm="height: 390px">
          <mat-sidenav #sidenav>
              <mat-nav-list>
                  <a onclick="document.getElementById('workexperience').scrollIntoView(true)" class="link" mat-list-item>Experience</a>
                  <a onclick="document.getElementById('education').scrollIntoView(true)" class="link" mat-list-item>Education</a>
                  <a onclick="document.getElementById('skillset').scrollIntoView(true)" class="link" mat-list-item>Skills</a>
                  <a onclick="document.getElementById('project').scrollIntoView(true)" class="link" mat-list-item>Projects</a>
                  <a onclick="document.getElementById('research').scrollIntoView(true)" class="link" mat-list-item>Research</a>
                  <a onclick="document.getElementById('certifications').scrollIntoView(true)" class="link" mat-list-item>Certifications</a>
                  <a onclick="document.getElementById('contact').scrollIntoView(true)" class="link" mat-list-item>Contact</a>
              </mat-nav-list>
          </mat-sidenav>
      </mat-sidenav-container>
  </div>
</body>