@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

/* ================
	 1. variables
   ================ */

.body-light {
	--bg: #f5f6f7;
	/* --bg-alt: #fff; */
	--bg-alt: rgba(177, 202, 236, 0.7);
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.3);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgba(22, 28, 41, 0.60);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 0 0;
	width: 99%;
	/* overflow: hidden; */
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	font-size: large;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

button {
	cursor: pointer;
	font-family: inherit;
	background-color: inherit;
	border: none;
	outline: none;
	/* margin-left: 15px;
	margin-right: 15px; */
}

/* =================
     4. components
   ================= */

   /* icons */

.icon-normal,
.icon-border {
	/* margin: 0.2em; */
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	border-radius: 50%;
	/* font-size: 1.2rem; */
	font-size: 2rem;
}

.icon-normal:hover,
.icon-border:hover {
	color: var(--bg);
}

.icon-normal::after,
.icon-border::after {
	content: '';
	position: absolute;
	width: 0%;
	height: 0%;
	z-index: -1;
	background-color: var(--primary);
	border-radius: 50%;
	transition: all 0.25s ease-in-out;
}

.icon-normal:hover::after,
.icon-border:hover::after {
	width: 100%;
	height: 100%;
	border: 0.1em solid var(--primary);
}

.icon-normal {
	width: 1.5em;
	height: 1.4em;
	color: var(--fg-alt);
}

.icon-border {
	width: 2.2em;
	height: 2.2em;
	color: var(--primary);
	border: 0.15em solid var(--primary);
	margin-left: 1%;
}

/* Changes v1 */
.menu-spacer {
    flex: 1 1 auto;
  }

mat-toolbar-row{
    /* background-color: var(--bg); */
	background-color: transparent;
	/* background-color: lavender; */
	font-weight: 500;
	/* margin: 0 0.5em; */
	/* margin-top: 1em;
	margin-bottom: 0.7em; */
}

.hero {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/* Changes v2 */
mat-nav-list {
	background-color: var(--bg-alt);
	/* background-color: lemonchiffon; */
	width: 100%;
	justify-content: center;
	text-align: center;
	align-self: center;
}

mat-sidenav {
	width: 100%;
	/* transition: 1s; */
}

a {
	text-decoration: none;
	/* margin: 0 10px; */
	margin-right: 20px;
}

.link {
	padding: 0 0 0.12em 0;
	position: relative;
	color: var(--fg-alt);
}

.link:hover {
	color: var(--fg-alt);
	transform: ease-in-out;
	
}

.link:active {
	color: var(--fg-alt);
}

.link::before {
	content: '';
	display: inline;
	width: 0%;
	height: 0.12em;
	position: absolute;
	bottom: 0;
	background-color: var(--primary);
	transition: width 0.3s ease-out;
}

.link:hover::before {
	width: 100%;
}
/* body::after {
	content: '';
	margin: 0.2em auto 0 auto;
	display: block;
	width: 1.5em;
	width: 90%;
	border-bottom: 0.2em solid var(--primary);
} */

body{
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 9999; 
	width: 100%; 
	height: 95px;
	-webkit-box-shadow: 5px 0px 15px 0px rgb(73, 78, 116);
    -moz-box-shadow: 5px 0px 8px 15px rgb(73, 99, 139);
    box-shadow: 5px 0px 15px 0px rgb(63, 77, 124);

	/* box-shadow: #185dc7;		 */

}

mat-sidenav-container {
	margin-top: 28px;
}

span a img{
	margin-left: 3px;
	height: 35px;
	width: 35px;

}