/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgb(22 28 41 / 33%);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
} */

::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 0 auto;
	/* max-width: 1100px; */
	width: 100%;
	/* background-color: var(--bg); */
	background-color: transparent;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

h2 {
	color: var(--fg-alt);
	line-height: 1.1;
    font-size: 1.8em;
}

/* ul {
	list-style-type: none;
} */

a {
	text-decoration: none;
}

@media (max-width: 580px) {
	h2 {
		font-size: 1.5rem;
	}
}

/* =============
     3. layout
   ============= */

/* .contact ul {
	display: flex;
	align-items: center;
} */

.contact div {
	display: flex;
	align-items: center;
	/* padding: 10em; */
	padding-bottom: 5em;
}

section {
	margin-top: 5em;
}

.section-title {
	padding-top: 0.5em;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	margin: 0.3em auto 0 auto;
	display: block;
	width: 1.5em;
	border-bottom: 0.2em solid var(--primary);
}

/* .contact ul {
	flex-wrap: wrap;
	justify-content: center;
} */

.contact div {
	flex-wrap: wrap;
	justify-content: center;
	/* justify-content: space-between; */
}

.contact .btn {
	margin-right: 1.5em;
	margin-left: 1.5em;
	margin-top: 0.3em;
}

.contact .icon {
	margin-right: 0.2em;
}

@media (max-width: 580px) {
	section {
		margin-top: 2.5em;
	}

	.stack-container i {
		font-size: 3rem;
	}
}

/* =================
     4. components
   ================= */

/* buttons */

.btn {
	display: inline-block;
	border-radius: 5em;
	font-size: 1.4rem;
	font-weight: 600;
	transition: transform 0.2s ease-in-out;
	padding: 1em 1.6em;
	background-color: var(--primary);
	color: var(--bg);
}

.btn:hover {
	background-color: var(--primary-alt);
}

.btn:active {
	transform: translateY(-0.4em);
}