<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="contact" class="contact">
        <h2 class="section-title">Get in touch</h2>
        <div>
            <!-- ul has 3 mentions in css. change ul to div -->
            <span>
                <!-- span, li has 0 mentions in css. change li to span -->
                <a href="mailto:sumagna.dey@gmail.com" target="_blank">
                <span class="btn">
                    <fa-icon [icon]="emailIcon" aria-hidden="true" class="fas icon fa-envelope fa-xl"></fa-icon>
                    <!-- <i aria-hidden="true" class="fas icon fa-envelope"></i> -->
                    Email
                </span>
                </a>
            </span>
            <!-- <span>
                <a href="https://www.linkedin.com/in/sumagnadey/" aria-label="Linkedin">
                <span class="btn">
                    <fa-icon [icon]="linkedIcon" aria-hidden="true" class="fab icon fa-linkedin fa-xl"></fa-icon>
                    Linkedin
                </span>
                </a>
            </span> -->
            <!-- <span>
                <a href="https://github.com/sumagnadey" aria-label="Github">
                <span class="btn">
                    <fa-icon [icon]="githubIcon" aria-hidden="true" class="fab icon fa-github fa-xl"></fa-icon>
                    Github
                </span>
                </a>
            </span> -->
            <span>
                <a href="https://api.whatsapp.com/send?phone=+917001496235&amp;text=Hello " aria-label="Whatsapp" target="_blank">
                <span class="btn">
                    <fa-icon [icon]="whatsappIcon" aria-hidden="true" class="fab icon fa-xl"></fa-icon>
                    Whatsapp
                </span>
                </a>
            </span>
            <span>
                <a href="tel:7001496235" aria-label="Call">
                <span class="btn">
                    <fa-icon [icon]="phoneIcon" aria-hidden="true" class="fab icon fa-phone fa-xl"></fa-icon>
                    <!-- <i aria-hidden="true" class="fab icon fa-linkedin"></i> -->
                    Call
                </span>
                </a>
            </span>
        </div>
    </section>
</body>