<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap" rel="stylesheet">
<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="project" style="height: 60px; background-color: transparent;"></div>
    <section class="project">
        <h2 class="section-title">Projects</h2>
        <div class="project-container">
            <img src="assets/Tic-Tac-Toe.jpg" alt="Tic-Tac-Toe" height="250" width="450" />
            <div class="project-content">
                <h3>Tic Tac Toe</h3>
                    <p>The last page of every student's notebook is reserved for Tic Tac Toe. Let's revisit those cherished childhood memories and ride the waves of nostalgia. </p>
                <div class="project-skill">
                    <span>Python</span>
                    <span>ML</span>
                    <span>Maths</span>
                    <span>Tkinter</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/sumagnadey/Mini_Project/tree/master/Tic%20Tac%20Toe" aria-label="Source code" title="source code" target="_blank" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>
    
        <div class="project-container">
            <img src="https://blog.dormakaba.com/tachyon/2020/04/dormakaba-Blog-Post-pictures-_-1024-x-683-83.jpg" alt="Face Recognition" height="250" width="450" />
            <div class="project-content">
                <h3>Face Recognition </h3>
                <p>Developed an authentication system based on Face Recognition.</p>
                <div class="project-skill">
                    <span>Python </span>
                    <span>Digital Image Processing</span>
                    <span>Open CV</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/sumagnadey/Mini_Project/tree/master/Face_recognition" aria-label="Source code" target="_blank"
                            title="source code" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" target="_blank" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="https://www.researchgate.net/publication/340884113/figure/fig3/AS:883691647684610@1587699915907/Structure-and-operation-of-InfoGAN-Information-maximizing-Generative-Adversarial.png" alt="image-2022-07-26-201920536" height="250" width="450" />
            <div class="project-content">
                <h3>Generate Faces</h3>
                <p>Generate new images of faces using Generative Adversarial Networks (GAN)</p>
                <div class="project-skill">
                    <span>Python</span>
                    <span>Pytorch</span>
                    <span>Deep CNN</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/sumagnadey/Udacity_Deep_Learning_NanoDegree/tree/master/4.%20project-face-generation" aria-label="Source code" title="source code" target="_blank" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>

        <div class="project-container">
            <img src="assets/Covid19.png" height="250" width="450" />
            <div class="project-content">
                <h3>Detecting COVID-19 using Deep Learning</h3>
                <p>Developed an CNN model to predict whether subject has Covid-19 or not.</p>
                <div class="project-skill">
                    <span>Python</span>
                    <span>PyTorch</span>
                    <span>TensorFlow</span>
                    <span>Pillow</span>
                </div>
                <div class="project-link">
                    <span>
                        <a href="https://github.com/sumagnadey/Mini_Project/tree/master/covid%20detection" aria-label="Source code" title="source code" target="_blank" rel="noopener">
                            <fa-icon [icon]="codeIcon" class="icon-border fas fa-code"></fa-icon>
                        </a>
                    </span>
                    <!-- <span>
                        <a href="#" aria-label="Preview" title="preview" rel="noopener">
                            <fa-icon [icon]="extLinkIcon" aria-hidden="true" class="icon-border fas fa-external-link-alt"></fa-icon>
                        </a>
                    </span> -->
                </div>
            </div>
        </div>
    </section>
</body>