/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 40%);
}

.body-dark {
	--bg: #030217;
	/* --bg-alt: rgb(22 28 41 / 33%); */
	--bg-alt: rgb(22 28 41 / 50%);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(53, 49, 49, 0) 0px 4px 6px -1px,
		rgba(95, 92, 92, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

/* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
} */

::-moz-selection {
	background: var(--primary);
	color: var(--bg);
}

::-webkit-selection,
::selection {
	background: var(--primary);
	color: var(--bg);
}

body {
	margin: 0 auto;
	/* max-width: 1100px; */
	width: 100%;
	/* background-color: var(--bg); */
	background-color: transparent;
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

h2 {
	color: var(--fg-alt);
	line-height: 1.1;
    font-size: 1.8em;
}

@media (max-width: 580px) {
	h2 {
		font-size: 1.5rem;
	}
}

/* =============
     3. layout
   ============= */

section {
	margin-top: 5em;
}

.section-title {
	padding-top: 0.5em;
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	margin: 0.3em auto 0 auto;
	display: block;
	width: 1.5em;
	border-bottom: 0.2em solid var(--primary);
}

.stack-container {
	margin: 0 auto;
	display: flex;
    padding: 3em;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* background-color: lemonchiffon; */
}

.stack {
    padding: 3em;
	/* background-color: azure; */
}

.tech-container {
	/* width: 10em;
	height: 10em; */
	width: 12em;
	height: 12em;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-alt);
	border-radius: 1.5em;
	box-shadow: var(--container-shadow);
	overflow: hidden;
	/* font-size: 0.8rem; */
	font-size: 1.4rem;
	font-weight: 500;
	padding: 1em;
}

.tech-container::before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	transform: scaleX(0);
	width: 100%;
	height: 6px;
	border-radius: 1.5;
	background-color: var(--primary-alt);
	transition: all 0.2s linear;
}

.tech-container:hover::before {
	transform: scaleX(1);
}

.tech-container i {
	font-size: 6rem;
	margin-bottom: 0.2em;
}

.tech-container:hover {
	box-shadow: 0 6px 12px midnightblue;
}

/* .tech-container i:hover {
	filter: grayscale(100%);
} */

.tech-container img {
	height: 7rem;
	margin-top: 0.1rem;
	margin-bottom: 0.8em;
	/* width: 5rem; */
}

@media (max-width: 580px) {
	section {
		margin-top: 2.5em;
	}

	.stack-container i {
		font-size: 6rem;
	}

	.stack-container img {
		font-size: 6rem;
	}
}