<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="skillset" style="height: 6px; background-color: transparent;"></div>
    <section class="stack">
		<h2 class="section-title">Skillset</h2>
		<div class="stack-container">
            <div class="tech-container">
                <!-- <i class="devicon-python-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
                Python
            </div>
            <div class="tech-container">
                <!-- <i class="devicon-googlecloud-plain colored"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/googlecloud/googlecloud-original.svg" />
                GCP
            </div>
            <div class="tech-container">
                <i class="devicon-tensorflow-original colored"></i>
                Tensorflow
            </div>
            
            <div class="tech-container">
                <!-- <i class="devicon-css3-plain" [ngClass]="{'colored': !iconHover}"></i> -->
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original.svg" />
                PyTorch
            </div>
            <div class="tech-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Keras_logo.svg/512px-Keras_logo.svg.png?20200317115153">
                Keras
            </div>
            <div class="tech-container"> 
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opencv/opencv-original.svg" />
            OpenCV
            </div>
            <div class="tech-container">  
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
                Java
            </div>
            <div class="tech-container">
                <i class="devicon-thealgorithms-plain colored"></i>
                DSA
            </div>
            <div class="tech-container">
                <!-- <span><img src="https://miro.medium.com/max/300/0*goJuBKoyL-zZX4RB.png"></span> -->  
                <i class="devicon-devicon-plain"></i>
          
                OOP
            </div>
            <div class="tech-container">    
                <i class="devicon-javascript-plain colored"></i>
                JavaScript
            </div>
            <div class="tech-container"> 
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
            Linux
            </div>
            <div class="tech-container">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" />
                C
            </div>
            <div class="tech-container">   
                <i class="devicon-git-plain colored"></i>
                Git
            </div>
            <div class="tech-container">
                <img src="https://cdn.worldvectorlogo.com/logos/postman.svg">
                Postman
            </div>
            <div class="tech-container">
                <i class="devicon-mysql-plain colored"></i>
                Mysql
            </div>
            <div class="tech-container">
                <i class="devicon-oracle-original colored"></i>
                Oracle
            </div>
		</div>
	</section>
</body>