@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Ysabeau+Infant:wght@200&display=swap');
/* ================
	 1. variables
   ================ */

   .body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
  /* --primary-alt-odd: #70a0e7; */
  --primary-alt-odd: rgb(65, 107, 139);
  --primary-alt-even: rgb(16, 16, 128);
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 40%);
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgb(22 28 41 / 33%);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
  /* --primary-alt-odd: #5955a2; */
  --primary-alt-odd: rgb(40, 93, 126);
  /* --primary-alt-even: #444175; */
  --primary-alt-even: #302d70;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(53, 49, 49, 0) 0px 4px 6px -1px,
		rgba(95, 92, 92, 0.06) 0px 2px 4px -1px;
}

/* =====================
     2. global styles
   ===================== */

   body {
    margin: 0 0;
    padding: 0;
    width: 100%;
    /* background-color: var(--bg); */
    background-color: transparent;
    color: var(--fg);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    transition: background-color 0.1s linear;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  .section-title {
    padding-top: 0.5em;
    margin-bottom: 1.5em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .section-title::after {
    content: '';
    margin: 0.3em auto 0 auto;
    display: block;
    width: 1.5em;
    border-bottom: 0.2em solid var(--primary);
  }
  
  h2 {
    color: var(--fg-alt);
    line-height: 1.1;
    font-size: 1.9em;
  }
  
  @media (max-width: 580px) {
    h2 {
      font-size: 1.5rem;
    }
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  div, ul, h3, h4, p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    direction: ltr;
  }
  
  .sectionClass {
    position: relative;
    display: block;
  }
  
  .row {
    width: 980px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .row:before, .row:after {
    content: "";
    display: table;
  }
  
  .fullWidth {
    width: 100%;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
    /* changes */
    /* display: flex;
    justify-content: center;
    text-align: center; */
  }
  
  /********************************/
  /*  SECTION WORK EXPERIENCE
  ********************************/
  .cbp_tmtimeline {
    margin: 60px 30px 0 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: 0;
    width: 10px;
    background: var(--primary);
    /* background: limegreen; */
    left: 13%;
    height: 100%;
  }
  
  .cbp_tmtimeline li:last-child:before {
    content: initial;
  }
  
  /* .cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
  } */
  
  /* .cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
  } */
  
  /* .cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: white;
  } */
  
  /* .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: white;
  } */
  
  /* .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: white;
  } */
  
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: var(--primary-alt-even);
    color: white;
    padding: 30px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border-radius: 1.5em;
    min-height: 150px;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel:hover {
    box-shadow: 0 8px 16px midnightblue;
  }
  
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: var(--primary-alt-odd);
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel h3 {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel h4 {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
  }
  
    .cbp_tmtimeline > li .cbp_tmlabel h4 img {
    margin-right: 5px;
    vertical-align: middle;
  }
  
  img {
    border-radius: 50%;
    box-shadow: 0 8px 16px midnightblue;
  }
  
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(50, 68, 84, 1);
    border-width: 10px;
    top: 70px;
  }
  
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #2B3A48;
  }
  
  .cbp_tmtimeline > li .cbp_tmicon {
    width: 150px;
    height: 150px;
    top: 3%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #151515;
    background: lavender;
    border-radius: 50%;
    text-align: center;
    left: 8%;
    margin: 0 0 0 -25px;
  }
  
  .cbp_tmtimeline li {
    margin-bottom: 70px;
    position: relative;
  }
  
  .projectParagraph {
    font-size: 15px;
    margin: 0.5em 0 0;
    /* font-weight: 500; */
    font-family: 'Ysabeau Infant', sans-serif;
    color: white;
  }
  
  .cbp_tmicon img {
    width: 100%;
  }
  
  .faPra {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 70px;
    vertical-align: middle;
    color: white;
    line-height: 150px;
  }
  
  .date {
    color: whitesmoke;
    display: block;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 30px;
    right: 20px;
  }
  
  .date fa-icon {
    margin-right: 8px;
    vertical-align: top;
    font-size: 18px;
    line-height: 20px;
  }
  
  @media (max-width: 795px) {
    .cbp_tmtimeline:before {
      display: none;
    }
  
    /* .cbp_tmtimeline > li .cbp_tmtime {
      width: 100%;
      position: relative;
      padding: 0 0 20px 0;
    } */
  
    /* .cbp_tmtimeline > li .cbp_tmtime span {
      text-align: left;
    } */
  
    .cbp_tmtimeline > li .cbp_tmlabel {
      margin: 30px 0 70px 10px;
      padding: 50px 30px 30px 30px;
      font-weight: 400;
      font-size: 95%;
      box-shadow: var(--container-shadow);
      /* float: left; */
    }
  
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
      float: left;
    }
  
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel {
      float: right;
    }
  
    .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: auto;
      border-right-color: transparent;
      border-bottom-color: rgb(50, 68, 84);
      top: -20px;
    }
  
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: transparent;
      border-bottom-color: rgb(43, 58, 72);
      left: 55px;
    }
  
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
      right: 70px;
    }
  
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
      position: relative;
      float: left;
      left: auto;
      margin: 0px 5px 0 5px;
    }
  
    .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
      position: relative;
      float: right;
      left: auto;
      margin: 0px 5px 0 5px;
    }
  
    /* .cbp_tmtimeline > li .cbp_tmtime span:last-child {
      font-size: 1.5em;
    } */
  }