<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="workexperience" style="height: 110px; background-color: transparent;"></div>
    <div class="sectionClass">
        <div class="row ">
            <h2 class="section-title">WORK EXPERIENCE</h2>
            <div class="fullWidth eight columns">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <img src="assets/HSBC_logo.png"  aria-hidden="true" class="icon-normal fas fa-bars faPra">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>Software Engineer</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Jan 2023 - Present
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                HSBC, Hyderabad
                            </h4>
                            <p class="projectParagraph">• Utilizing BigQuery, Cloud Dataflow, Cloud Composer, and Vertex AI workbench to analyze and process large datasets in a scalable and efficient manner.<br>
                            • Developing and automating processes with Python to streamline workflows and reduce manual intervention.<br>
                            • Employing GitHub and Jenkins for deployment to ensure that code changes are properly tested and deployed in a controlled and repeatable manner.
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <!-- <fa-icon [icon]="briefcaseIcon" aria-hidden="true" class="icon-normal fas fa-bars faPra"></fa-icon> -->
                            <img src="assets/Logo_Cognizant.png"  aria-hidden="true" class="icon-normal fas fa-bars faPra">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>Google Cloud Data Engineer</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Aug 2021 - Jan 2023
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Cognizant, Hyderabad
                            </h4>
                            <p class="projectParagraph">• Designed and developed some ML models using TensorFlow. <br>
                            • Additionally, I used Cloud Dataflow for data processing tasks Cloud Composer for orchestration, Pub/Sub for messaging and streaming data and BigQuery for data warehousing.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <!-- <fa-icon [icon]="briefcaseIcon" aria-hidden="true" class="icon-normal fas fa-bars faPra"></fa-icon> -->
                            <img src="assets/IIT_Kharagpur_Logo.png"  aria-hidden="true" class="icon-normal fas fa-bars faPra" width="70" height="150">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>AI Research Intern</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Aug 2021 - OCT 2021
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                IIT Kharagpur, West Bengal
                            </h4>
                            <p class="projectParagraph">•Worked on Signal processing. <br>
                            •Develop a deep learning model for accurate heart disease detection. <br>
                            •Publish research on "Computer-Aided Detection of Lesions from Coronary Angiograms Based on Contrast Learning Technique," contributing to advancements in medical image analysis.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>