.container-fluid {
    padding: 0;
    margin: 0;
}
html{
	scroll-behavior: smooth;
	zoom: 95%;
}
/* ================
	 1. variables
   ================ */

.body-light {
	--bg: #f5f6f7;
	--bg-alt: #fff;
	--fg: #444;
	--fg-alt: #222;
	--primary: #306cc4;
	--primary-alt: #185dc7;
	--primary-light: rgba(44, 93, 206, 0.1);
	--container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
	--cover: url("/assets/wavesOpacity_light.svg");
	--img-background: rgba( 255, 255, 255, 0.7 );
	;
}

.body-dark {
	--bg: #030217;
	--bg-alt: rgb(22 28 41 / 33%);
	--fg: #bdbddd;
	--fg-alt: #cdcdff;
	--primary: #807ae8;
	--primary-alt: #706aec;
	--primary-light: rgb(18 17 49 / 44%);
	--container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	--cover: url("/assets/wavesOpacity.svg");
	--img-background: rgba( 255, 255, 255, 0.3 );
	;
}

/* =====================
     2. global styles
   ===================== */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	box-shadow: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-alt);
}

::-webkit-scrollbar-thumb {
	border: 4px solid var(--bg);
	background-color: var(--primary);
	border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-alt);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	width: 100%;
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	transition: background-color 0.1s linear;
}

/* =============
     3. layout
   ============= */



footer ul {
	display: flex;
}

footer small {
	font-weight: 500;
	margin-top: 0.5em;
}

button {
	border: none;
	cursor: pointer;
	appearance: none;
	background-color: inherit;
	transition: transform 0.7s ease-in-out;
	margin: 0 10px;
	border-radius: 50%;
}

button:hover {
	transform: rotateY(60deg);
}

.footer_div img {
	width: 30px;
	height: 30px;
	padding: 3px;
	border: 2px solid var(--img-background);
	background: var(--img-background);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 50%;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* =================
     4. components
   ================= */

/* icons */

.scroll-container {
	display: flex;
	justify-content: flex-end;
}

.scroll-up {
	position: fixed;
	font-size: 0.9rem;
	bottom: 3em;
	right: 2em;
	font-weight: 600;
	transition: transform 0.4s ease-in-out;
}

.scroll-up:active {
	transform: translateY(0.7em);
}

.scroll-up a {
	background-color: var(--primary);
	padding: 0.9em 1.2em;
	color: var(--bg);
	border-radius: 50%;
	opacity: 75%;
}
/* .scroll-up:active {
	transform: translateY(0.4em);
} */

.scroll-up a:hover {
	background-color: var(--primary-alt);
}

@media (max-width: 1000px) {
	.scroll-container {
		display: none;
	}
}



footer .txt {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-bottom: 25px;
}

footer .footer_div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	transform: rotate(180deg);

}

footer {	
	position: absolute;
	left: 0;
	right: 0;
	background-color: var(--bg);	
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 30px 0 100px 0;
	height: 8em;
	justify-content: center;
	position: relative;
	background: var(--cover) no-repeat;
	background-size: cover;
	transform: rotate(180deg);
}
.txt .image{
	width: 300px;
}