<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
	</head>
	<body class="mainBody" [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"/>
		<script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
		<div class="container-fluid">
			<app-navbar [darkTheme]="darkTheme" (newItemEvent)="toggleTheme($event)"></app-navbar>
			<app-intro [darkTheme]="darkTheme" [msg]="msg" [temperature]="temperature" [weather]="weather" [weatherIcon]="weatherIcon"></app-intro>
			<app-experience [darkTheme]="darkTheme"></app-experience>
			<app-education [darkTheme]="darkTheme"></app-education>
			<app-skillset [darkTheme]="darkTheme"></app-skillset>
			<app-projects [darkTheme]="darkTheme"></app-projects>
			<app-research [darkTheme]="darkTheme"></app-research>
			<app-certification [darkTheme]="darkTheme"></app-certification>
			<app-contacts [darkTheme]="darkTheme"></app-contacts>
			<app-time [darkTheme]="darkTheme" [time]="time" [location]="location"></app-time>
			<!-- <app-edu-update></app-edu-update> -->
			<footer>
				<div class="footer_div">
					<button>
						<a href="https://leetcode.com/Sumagna007/" target="_blank">
							<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/LeetCode_logo_black.png">
						</a>
					</button>
					<button>
						<a href="https://www.hackerrank.com/sumagna_dey/" target="_blank">
							<img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/24/null/external-hackerrank-is-a-technology-company-that-focuses-on-competitive-programming-logo-shadow-tal-revivo.png">
						</a>
					</button>
					<button>
						<a href="https://scholar.google.com/citations?user=iFBk_AIAAAAJ&hl=en" target="_blank">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Google_Scholar_logo.svg/2048px-Google_Scholar_logo.svg.png">
						</a>
					</button>
					<button>
						<a href="https://www.researchgate.net/profile/Sumagna-Dey" target="_blank">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/ResearchGate_icon_SVG.svg/1200px-ResearchGate_icon_SVG.svg.png">
						</a>
					</button>
					<button>
						<a href="https://orcid.org/0000-0001-5739-722X" target="_blank">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/ORCID_iD.svg/2048px-ORCID_iD.svg.png">
						</a>
					</button>
				</div>
			</footer>
	
			<div class="scroll-container">
				<div aria-label="Scroll up" class="scroll-up">
					<a *ngIf="isShow" (click)="gotoTop()">
						<fa-icon [icon]="scrollIcon" aria-hidden="true" class="fas fa-arrow-up"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>