<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
  <div id="education" style="height: 7px; background-color: transparent;"></div>
  <section class="stack">
    <h2 class="section-title">Education</h2>
    <div class="card-list">
      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/College.jpg">

            <div class="card_title title-white">
              <p><fa-icon [icon]="graduationIcon"></fa-icon> B.Tech (CSE)</p>
          </div>

          </div>
          <div class="flip-card-back">
            <div class="flip-back-test">
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Maulana_Abul_Kalam_Azad_University_of_Technology_Logo.svg/800px-Maulana_Abul_Kalam_Azad_University_of_Technology_Logo.svg.png" height="70">
              <p><fa-icon [icon]="schoolIcon"></fa-icon> 
                Meghnad Saha Institute of Technology
                <br>
                <fa-icon [icon]="academyIcon"></fa-icon> MAKAUT
                <br>
                <fa-icon [icon]="scoreIcon"></fa-icon> DGPA: 8.84
                <br>
                <fa-icon [icon]="locationIcon"></fa-icon> Kolkata, India
                <br>
                <fa-icon [icon]="timelineIcon"></fa-icon> 2017 - 2021
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/Kenduadihi.jpg">

            <div class="card_title title-white">
              <p><fa-icon [icon]="graduationIcon"></fa-icon> Higher Secondary</p>
          </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-back-test">
              <img src="https://upload.wikimedia.org/wikipedia/en/b/b7/West_Bengal_Council_of_Higher_Secondary_Education_Logo.png" height="70">
              <p>
                <fa-icon [icon]="schoolIcon"></fa-icon>  Kenduadihi High School
                <br>
                <fa-icon [icon]="academyIcon"></fa-icon> WBCHSE
                <br>
                <fa-icon [icon]="scoreIcon"></fa-icon> Percentage: 89%
                <br>
                <fa-icon [icon]="locationIcon"></fa-icon> Bankura, India
                <br>
                <fa-icon [icon]="timelineIcon"></fa-icon> 2015 - 2017
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://content.jdmagicbox.com/comp/kenduadihi/w2/9999p3242.3242.181113152752.v2w2/catalogue/kenduadihi-high-school-kenduadihi-schools-30ja00m02y.jpg?clr=423824">

            <div class="card_title title-white">
              <p><fa-icon [icon]="graduationIcon"></fa-icon> Secondary</p>
          </div>

          </div>
          <div class="flip-card-back">
            <div class="flip-back-test">
              <img src="https://upload.wikimedia.org/wikipedia/en/d/d9/West_Bengal_Board_of_Secondary_Education_Logo.png" height="70">
              <p><fa-icon [icon]="schoolIcon"></fa-icon>  
                Kenduadihi High School
                <br>
                <fa-icon [icon]="academyIcon"></fa-icon> WBBSE
                <br>
                <fa-icon [icon]="scoreIcon"></fa-icon> Percentage: 91.14%
                <br>
                <fa-icon [icon]="locationIcon"></fa-icon> Bankura, India
                <br>
                <fa-icon [icon]="timelineIcon"></fa-icon> 2012 - 2015
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>