/* ================
	 1. variables
   ================ */
   @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
.body-light {
  --bg: #f5f6f7;
  --bg-alt: #fff;
  --bg-alt2: #fff;
  --fg: #444;
  --fg-alt: #222;
  --primary: #306cc4;
  --primary-alt: #185dc7;
  --primary-alt2: #70a0e7;
  --primary-div: rgba(40, 40, 200, 0.7);
  --primary-light: rgba(44, 93, 206, 0.1);
  --text: whitesmoke;
  --div-border: whitesmoke;
  --container-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.body-dark {
  --bg: #030217;
  /* --bg-alt: rgb(22 28 41 / 33%); */
  --bg-alt: rgb(22 28 41 / 50%);
  --bg-alt2: rgb(22, 16, 52);
  --fg: #bdbddd;
  --fg-alt: #cdcdff;
  --primary: #807ae8;
  --primary-alt: #706aec;
  --primary-alt2: #5955a2;
  --primary-light: rgb(18 17 49 / 44%);
  --primary-div: rgba(98, 52, 143, 0.7);
  --text: lavender;
  --div-border: lavender;
  --container-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* =====================
       2. global styles
     ===================== */

::-moz-selection {
  background: var(--primary);
  color: var(--bg);
}

::-webkit-selection,
::selection {
  background: var(--primary);
  color: var(--bg);
}

body {
  margin: 0 auto;
  /* max-width: 1100px; */
  max-width: 100%;
  max-height: 100%;
  /* background-color: var(--bg); */
  background-color: transparent;
  color: var(--fg);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  transition: background-color 0.1s linear;
}

h2 {
  color: var(--fg-alt);
  line-height: 1.1;
  font-size: 1.8em;
}

@media (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

/* =============
       3. layout
     ============= */

.section-title {
  padding-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  margin: 0.3em auto 0 auto;
  display: block;
  width: 1.5em;
  border-bottom: 0.2em solid var(--primary);
}

.stack {
  padding-top: 3em;
  margin-top: 5em;
  /* background-color: azure; */
}

@media (max-width: 580px) {
  .stack {
    margin-top: 2.5em;
  }
}

/* .container{
  width: 300px;
  height: 200px;
  position: relative ; 
  perspective: 800px;
  border-radius: 4px;
  }
.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform(0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275));
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  cursor: pointer;
} */



.flip-card div {
  position: absolute;
  /* min-height: max-content;
  min-width: max-content; */
  /* position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #47525D; */
  border-radius: 10%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 5%;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card{
  box-shadow: 0 8px 16px midnightblue;
  border-radius: 10%;

}

.flip-card-front,
.flip-card-back{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: red;
  /* overflow: hidden; */
  
}

.flip-card-front {
  background: linear-gradient(to left, #4364f7, #6fb1fc);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding-top: 15px;
  color: var(--text);
  text-align: center;
  font-size: 1.2em;
  font-family: 'Belanosima', sans-serif;
  margin: 5px
  }

.flip-back-test{
  overflow-wrap: anywhere;
  word-wrap: break-word;
  word-break: normal;
  hyphens: auto;
}

.flip-card-front img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 10% ;
}

.card_title p {
  background-color: rgba(5, 20, 29, 0.45);
  backdrop-filter: blur(3px);
  font-family: 'Merriweather';
  
  font-size: 17px;
  font-weight: lighter;
  padding: 5px 0;
}
.flip-card-front .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: -80px;
  height: 40px;
  width: 100%;
  margin-top: 65%;
  float: inline-end;
}

a{
  color: navy;
}